<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />    
    <link rel="mask-icon" href="safari-pinned-tab.svg" color="#3d3d3d" />
    <meta name="msapplication-TileColor" content="#2d89ef" />
    <meta name="theme-color" content="#f6f6f6" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <meta name="description" content="publicVoid.info" />
    <link rel="manifest" href="/manifest.json" />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>publicVoid</title>
  </head>
  <body>    
    <nav class="navbar is-fixed-top is-primary" id="navbar" role="navigation">
      <div class="container is-fluid">
        <div class="navbar-brand">
          <a class="navbar-item" href="#navbar">
            publicVoid
          </a>
        </div>
      </div>
    </nav>
    <section class="section is-medium">
      <div class="container">
        <div class="column is-10-tablet is-offset-1-tablet">
          <h1 class="section-title is-headline has-text-gradient title is-1">
            O fato? Occam. O mapa é este.
          </h1>
        </div>
      <div class="container">
        <div class="columns is-desktop is-multiline">
          <div class="column is-12-tablet">
            <div class="tile is-ancestor">
              <div class="tile is-4 is-vertical">
                <div class="tile is-vertical">
                  <a class="tile is-parent" href="/faq">
                    <div
                      class="tile has-text-info notification is-child is-primary"
                    >
                      <h2 class="has-text-light subtitle">
                        Frequently Asked Questions
                      </h2>
                    </div>
                  </a>
                  <a
                    class="tile is-parent"
                    href="https://medium.com/runlet"
                    target="_blank"
                    rel="noopener"
                  >
                    <div
                      class="tile has-text-info notification is-child is-primary"
                    >
                      <h2 class="has-text-light subtitle">
                        Explore our blog articles for news and usage tips.
                      </h2>
                    </div>
                  </a>
                </div>
              </div>
              <div class="tile">
                <a
                  class="tile is-parent"
                  href="https://runlet.gitbook.io"
                  target="_blank"
                  rel="noopener"
                >
                  <div
                    class="tile has-text-info notification is-child is-primary"
                  >
                    <h1 class="title">Docs</h1>
                    <h2 class="has-text-light subtitle">
                      Check our documentation to get all your devices up and
                      running in a matter of minutes.
                    </h2>
                  </div>
                </a>
                <a
                  class="tile is-parent"
                  href="https://github.com/runletapp/runlet"
                  target="_blank"
                  rel="noopener"
                >
                  <div
                    class="tile has-text-info notification is-child is-primary"
                  >
                    <h1 class="title">Contribute</h1>
                    <h2 class="has-text-light subtitle">
                      Help us improving
                      <!-- -->
                      Runlet
                      <!-- -->
                      by submitting bugs and feature requests on GitHub.
                    </h2>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>    
    </section>    
  </body>
  <script src="/js/app.js" defer></script>
</html>
